@model IEnumerable<ProtoSCADA.Entities.DTOs.MachineDto>
@{
    ViewData["Title"] = "Machines";
}

<div class="mt-5 container">
    <h2 class="mb-4 text-primary text-center">Machine List</h2>
    <table class="table-striped table-bordered table">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Machine Type</th>
                <th>Status</th>
                <th>Last Maintenance</th>
                <th>Factory Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var machine in Model)
            {
                <tr>
                    <td>@machine.MachineID</td>
                    <td>@machine.MachineType</td>
                    <td>@machine.Status</td>
                    <td>@machine.LastMaintance.ToString("yyyy-MM-dd")</td>
                    <td>@machine.FactorName</td>
                    <td>
                        <a href="/Machine/Details/@machine.MachineID" class="btn btn-info btn-sm">View Details</a>
                        <a href="/Machine/Delete/@machine.MachineID" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/Home/Index" class="btn btn-secondary mt-3">Go Back</a>
</div>
