@using ProtoSCADA.Entities.Entities
@model List<Machine>

@{
    ViewData["Title"] = "Machine List";
}

<h2 class="text-center text-primary">@ViewData["Title"]</h2>

@if (ViewData["Error"] != null)
{
        <div class="alert alert-danger">
        @ViewData["Error"]
        </div>
}

<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
                <th>Status</th>
                <th>Last Maintenance</th>
                <th>Factory Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var machine in Model)
            {
                    <tr>
                        <td>@machine.ID</td>
                        <td>@machine.Name</td>
                        <td>@machine.Type</td>
                        <td>@machine.Status</td>
                        <td>@(machine.LastMaintance.ToShortDateString() ?? "N/A")</td> <!-- Null check for LastMaintenance -->
                        <td>@(machine.Factory?.Name ?? "N/A")</td> <!-- Null check for Factory.Name -->
                    </tr>
            }
        </tbody>
    </table>
</div>
