@using ProtoSCADA.Entities.Entities
@model List<User>

@{
    ViewData["Title"] = "User List";
}

<h2 class="text-center text-primary">@ViewData["Title"]</h2>

@if (ViewData["Error"] != null)
{
    <div class="alert alert-danger">
        @ViewData["Error"]
    </div>
}

<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.ID</td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@user.Role</td>
                    <td>@user.CreatedAt.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
</div>
